<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="My Personal Web Site">
    <meta name="keywords" content="HTML, CSS, XML, JavaScript">
    <meta name="author" content="Edgar Canro">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Styles CSS-->
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <title>HTML Personal Site</title>
</head>

<body>
<div class="content">
    <table cellspacing="20">
        <tr>
            <td>
                <img src="/static/circle-cropped.png" alt="Edgar photo" width="150px">
            </td>
            <td>
                <h1>Edgar L Canro C</h1>
                <p><em>Founder and CTO of <strong><a href="youcancode.com">youcancode.com</a></strong></em></p>
                <p>I am ad FullStack Developer. I love chocolate and see movies</p>
            </td>
        </tr>
    </table>



    <hr>
    <h3>Educations and Diplomas</h3>
    <ul>
        <li>Computers Sciences</li>
        <li>FullStack Developer</li>
        <li>Free Code Camp FrontEnd Developer</li>
        <li>Angular</li>
        <li>React</li>
        <li>Python</li>
        <li>Master Computers</li>
        <li>Digital Desing</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="5">
        <tr>
            <th>Dates</th>
            <th>Work</th>
        </tr>
        <tr>
            <td>1998-1999</td>
            <td>Manteniance Technical</td>
        </tr>
        <tr>
            <td>2000</td>
            <td>Administrative Assistant</td>
        </tr>
        <tr>
            <td>2001-2003</td>
            <td>Systems Analyst</td>
        </tr>
        <tr>
            <td>2003-2007</td>
            <td>Department manager</td>
        </tr>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="5">
        <tr>
            <td>
                <table cellspacing="5">
                        <tr>
                            <td>
                                HTML
                            </td>
                            <td>
                                ⭐⭐⭐⭐⭐
                            </td>
                        </tr>
                        <tr>
                            <td>
                                CSS
                            </td>
                            <td>
                                ⭐⭐⭐⭐⭐
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vanilla Js
                            </td>
                            <td>
                                ⭐⭐⭐⭐⭐
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PHP
                            </td>
                            <td>
                                ⭐⭐⭐⭐
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table cellspacing="5">
                        <tr>
                            <td>
                                Semantic UI
                            </td>
                            <td>
                                ⭐⭐⭐⭐
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bootstrap
                            </td>
                            <td>
                                ⭐⭐⭐⭐
                            </td>
                        </tr>
                        <tr>
                            <td>
                                React
                            </td>
                            <td>
                                ⭐⭐⭐⭐
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Laravel
                            </td>
                            <td>
                                ⭐⭐⭐⭐
                            </td>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </td>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="services.html">Services</a>
    <a href="contacts.html">Contacts</a>
</div>
</body>

</html>
<!--    {% if name %}-->
<!--        <h1>Hello {{ name }}!</h1>-->
<!--    {% else %}-->
<!--        <h1>Hello, World!</h1>-->
<!--    {% endif %}-->
